<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GBU Complaints</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="content">
      <div class="nav">
        <img src="logo.png" alt="logo" class="main-logo" />
        <div class="intro">
          <div class="banner">
            Gautam Buddha University Complaint Portal
          </div>
          <div class="tagline">
            Gautam Buddha University, Established by the Uttar Pradesh Gautam
            Buddha University Act 2002 UP Act No. 9 of 2002
          </div>
          <a
            href="http://gbu.ac.in/NAAC/NAAC%20Certificate_31Dec18.jpg"
            target="blank"
            >Approved by UGC under Section 12-B. NAAC accredited with B+
            Grade</a
          >
        </div>
      </div>
      <div class="formcontainer">
        <form class="aform" action="" onsubmit="return false">
          <div class="sec">
            <div class="sec-heading">Enter Details</div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="building">Name of the building</label>
                <input type="text" name="building" id="building" required />
              </div>
            </div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="location">Location of Work</label>
                <input type="text" name="location" id="location" required />
              </div>
            </div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="comp">Complaint type</label>
                <select name="comp" id="comp" required>
                  <option value="civil">Civil</option>
                  <option value="electrical">Electrical</option>
                </select>
              </div>
            </div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="desc">Brief Description of the Complaint</label>
                <textarea name="desc" id="desc" rows="5"></textarea>
              </div>
            </div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="name">Name of the person to be contacted</label>
                <input type="text" name="name" id="name" required />
              </div>
            </div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="mob">Mobile Number of the person to be contacted</label>
                <input type="text" name="mob" id="mob" required />
              </div>
            </div>

            <div class="sub-sec">
              <div class="mini-sec">
                <label for="location">Suitable time</label>
                <input type="text" name="time" id="time" required />
              </div>
            </div>
           
          <div class="sec">
            <div class="sec-heading"></div>
            <input type="submit" value="Submit" id="submit" />
          </div>
        </form>
      </div>
      <div class="modal" id="modal">
        <div class="modal-content">
          <p>Your Complaint has been registered with ID: 1234</p>
          <a href="/index.html">Okay</a>
        </div>
      </div>
    </div>
    <footer>
      Copyright © 2009 Gautam Buddha University. All rights reserved.
    </footer>
  </body>
  <script src="cform.js"></script>
</html>
