<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GBU Complaints</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="content">
      <div class="nav">
        <img src="logo.png" alt="logo" width="100px" height="100px%" />
        <div class="intro">
          <div class="banner">
            Gautam Buddha University Complaint Portal
          </div>
          <div class="tagline">
            Gautam Buddha University, Established by the Uttar Pradesh Gautam
            Buddha University Act 2002 UP Act No. 9 of 2002
          </div>
          <a
            href="http://gbu.ac.in/NAAC/NAAC%20Certificate_31Dec18.jpg"
            target="blank"
            >Approved by UGC under Section 12-B. NAAC accredited with B+
            Grade</a
          >
        </div>
      </div>
      <div class="formcontainer">
        <form class="aform" action="">
          <div class="sec">
            <div class="sec-heading">Check Complaint Status</div>
            <div class="sub-sec">
              <div class="mini-sec">
                <label for="id">Enter Complaint ID</label>
                <input type="text" name="id" id="id" />
              </div>
            </div>
            <input type="submit" value="Search" />
          </div>
          <div class="sec">
            <div class="sec-heading"></div>
            <table cellspacing="25">
              <tr>
                <th><b>ID</b></th>
                <th><b>Department</b></th>
                <th><b>Complaint</b></th>
                <th><b>Status</b></th>
              </tr>
              <tr>
                <td>12231</td>
                <td>School of Vocational Studies and Applied Sciences</td>
                <td>Fan not Working</td>
                <td>Accepted</td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
    <footer>
      Copyright © 2009 Gautam Buddha University. All rights reserved.
    </footer>
  </body>
</html>
