<%- include common/header.ejs -%>

<section class="content" id="main-section">
  <div id="side-image">
  </div>

  <div id="admin-menu" class="form-container">
    <p>ADMIN LOGIN</p>
    <form method="POST" action="/admin">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="button-container">
        <button class="submit-button">Submit</button>
        <button type="button" class="cancel-button" onclick="window.location.href = '/'">Cancel</button>
      </div>
    </form>
  </div>

</section>

<%- include common/footer -%>