<html>
    <body>
        <form method="POST" action="/admin">
            Username <input type="text" name="username">
            Password <input type="password" name="password">
            <button>Login</button>
        </form>
    </body>
</html>