<html>
    <body>
        <form method="POST" action="/complaint">
            Department<input type="text" name="department">
            Room No:<input type="text" name="room_no">
            Complaint<input type="text" name="complaint">
            <button>Submit</button>
        </form>
    </body>
</html>