<%- include common/header.ejs -%>

<section class="content" id="main-section">
  <div id="side-image">
  </div>

  <div id="status_menu" class="form-container">
      <p>CHECK COMPLAINT STATUS</p>
      <form method="POST" action="/status">
          <div>
              <label for="comp_id">Enter Complaint ID</label>
              <input type="text" name="comp_id" id="comp_id" required >
          </div>
          <div class="button-container">
              <button class="submit-button">Submit</button>
              <button type="button" class="cancel-button" onclick="window.location.href = '/'">Cancel</button>
          </div>
      </form>
  </div>

</section>


<%- include common/footer -%>