<html>
    <head>

    </head>

    <body>
        <a href="/admin">Admin</a>
        <a href="/complaaint">Complaint</a>
        <a href="/Status">Status</a>
        <form method="POST" action="/submitted">
            Department<input type="text">
            Room No:<input type="text">
            Complaint<input type="text">
            <button>Submit</button>
        </form>

    </body>
</html>