<html>
    <head>

    </head>

    <body>
        <button>Admin</button>
        <button>Complaint</button>
        <button>Status</button>
        <form method="POST" action="/submitted">
            Department<input type="text">
            Room No:<input type="text">
            Complaint<input type="text">
            <button>Submit</button>
        </form>

    </body>
</html>