<html>
    <head>

    </head>

    <body>
        <button>Admin</button>
        <button>Complaint</button>
        <button>Status</button>
        <form method="POST" action="/submitted">
            <input type="text">Department
            <input type="text">Room No:
            <input type="text">Complaint
        </form>

    </body>
</html>