<%- include common/header.ejs -%>

    <section class="content" id="main-section">
        <div id="side-image">
        </div>
        <div id="main-menu">
            <div><a class="menu-link" href="/complaint">REGISTER A COMPLAINT</a></div>
            <div><a class="menu-link" href="/status" id="show_status">CHECK COMPLAINT STATUS</a></div>
            <div><a class="menu-link" href="/admin" id="show_admin">ADMIN LOGIN</a></div>
        </div>
    </section>

<%- include common/footer -%>
