<%- include common/header.ejs -%>


<section class="content" id="form-section">

    <div id="form-container">
        <p>ENTER COMPLAINT DETAILS</p>
        <form method="POST" action="/complaint">
            <div>
                <label for="building">Name of the building</label>
                <select name="building" id="building" required>
                    <%for(let i in buildings){%>

                    <option value="<%=buildings[i]%>"><%=buildings[i]%></option>

                    <%}%>
                    </select>
                </div>
                <div>
                    <label for="location">Address of work</label>
                    <input type="text" name="location" id="location" required>
                </div>
                <div>
                    <label  for="type">Complaint Type</label>
                    <select name="type" id="type" required>
                      <option value="civil">Civil</option>
                      <option value="electrical">Electrical</option>
                    </select>
                </div>
                <div>
                    <label for="complaint">Brief Description of the Complaint</label>
                    <textarea name="complaint" id="complaint" rows="5"></textarea>
                </div>
                <div>
                    <label for="name">Name of the person to be contacted</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <label for="mobile">Mobile Number of the person to be contacted</label>
                    <input type="text" name="mobile" id="mobile" required>
                </div>
                <div>
                    <label for="time">Suitable time</label>
                    <input type="text" name="time" id="time" required>
                </div>

                <div class="button-container">
                    <button class="submit-button">Submit</button>
                    <button type="button" class="cancel-button" onclick="window.location.href = '/'">Cancel</button>
                </div>
            </form>
        </div>

        <div id="side-image"></div>


    </section>

<%- include common/footer -%>