<%- include common/header.ejs -%>

<section class="content" id="form-section">

  <div id="info-container">
    <p>YOUR COMPLAINT HAS BEEN SUCCESSFULLY REGISTERED WITH ID : <%=compid%></p>
    <p class="danger">PLEASE NOTE DOWN AND STORE THIS ID CAREFULLY</p>

    <button class="submit-button" onclick="window.location.href = '/'">Done</button>
  </div>
  <div id="side-image"></div>


</section>

<%- include common/footer -%>