<%- include common/header.ejs -%>

<section class="content" id="main-section">
  <div id="side-image">
  </div>

  <div id="admin-menu" class="form-container">
    <p>SELECT THE TYPE OF COMPLAINT</p>
    <form method="POST" action="/select">
      <div>
        <label for="building">Name of the building</label>
        <select name="building" id="building">
          <%for(let i in buildings){%>
          <option value="<%=buildings[i]%>"><%=buildings[i]%></option>
          <%}%>
            </select>
          </div>
          <div>
            <label for="type">Complaint type</label>
            <select name="type" id="type" required>
              <option value="civil">Civil</option>
              <option value="electrical">Electrical</option>
            </select>
          </div>
          <div class="button-container">
              <button class="submit-button">Submit</button>
              <button type="button" class="cancel-button" onclick="window.location.href = '/'">Cancel</button>
          </div>
      </form>
  </div>

</section>


<%- include common/footer -%>