<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GBU Complaints</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="nav">
        <a href="/"
          ><img src="/assets/images/logo.png" alt="logo" class="main-logo"
        /></a>
        <div class="intro">
          <div class="banner">
            Gautam Buddha University Complaint Portal
          </div>
          <div class="tagline">
            Gautam Buddha University, Established by the Uttar Pradesh Gautam
            Buddha University Act 2002 UP Act No. 9 of 2002
          </div>
          <a
            href="http://gbu.ac.in/NAAC/NAAC%20Certificate_31Dec18.jpg"
            target="blank"
            >Approved by UGC under Section 12-B. NAAC accredited with B+
            Grade</a
          >
        </div>
      </div>


      <div class="formcontainer">
        <form class="aform" method="GET" action="/comp-type">
          <div class="sec">
            <div class="sec-heading">Select Complaint Type</div>
            <div class="sub-sec">
              <div class="mini-sec">
                <label for="building">Name of the building</label>
                <select name="building" id="building">
                  <%for(let i in buildings){%>
                  <option value="<%=buildings[i]%>"><%=buildings[i]%></option>
                  <%}%>
                </select>
              </div>
            </div>
            <div class="sub-sec">
              <div class="mini-sec">
                <label for="type">Complaint type</label>
                <select name="type" id="type" required>
                  <option value="civil">Civil</option>
                  <option value="electrical">Electrical</option>
                </select>
              </div>
            </div>
        
            <div class="sec">
              <div class="sec-heading"></div>
              <input type="submit" value="Submit" id="submit" />
            </div>
        
          </form>
      </div>

     <!--  <div class="index-options">
        <a href="/civilComplaints">Civil Compalints</a>
        <a href="/electricalComplaints">Electrical Compalints</a>
      </div> -->
    </div>
    <footer>
      Copyright © 2009 Gautam Buddha University. All rights reserved.
    </footer>
  </body>
</html>
