<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GBU</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&amp;display=swap"
        rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="upper-header"></div>
        <div id="nav-content">
            <a href="/" id="header">
                <img src="/images/gbu_logo.png" alt="">
                <div id="header-content">
                    <p>गौतम बुद्ध विश्वविद्यालय</p>
                    <p>GAUTAM BUDDHA UNIVERSITY</p>
                    <p class=small>Established by the UP GBU Act 2002 UP Act No. 9 of 2002</p>
                    <p class="small">Approved by UGC under Section 12-B, NAAC Accredited</p>
                </div>
            </a>
            <a href="/" id="heading">
                <p>Complaint Portal</p>
            </a>
        </div>
    </nav>
